#page{
    background-color: #f5f5dd;
    width: 400px;
    height: 600px;
    margin: auto;
    padding-top: 10px;
    margin-top: 30px;
}

div{
    width: 125px;
    height: 125px;
    margin: auto;
    margin-top: 10px;
}

.s1{
    background-color: rgba(0,0,0,1.0);
    margin-top: 25px;
}

.s2{
    background-color: rgba(0,0,0,0.8);
}

.s3{
    background-color: rgba(0,0,0,0.6);
}

.s4{
    background-color: rgba(0,0,0,0.4);
}