#page{
    background-color: #f5f5dd;
    width: 400px;
    height: 570px;
    margin: auto;
    padding-top: 30px;
}

#s1{
    background-color: rgba(0,0,0,1.0);
    width: 125px;
    height: 125px;
    margin: auto;
}

#s2{
    background-color: rgba(0,0,0,0.8);
    width: 125px;
    height: 125px;
    margin: auto;
    margin-top: 10px;
}

#s3{
    background-color: rgba(0,0,0,0.6);
    width: 125px;
    height: 125px;
    margin: auto;
    margin-top: 10px;
}

#s4{
    background-color: rgba(0,0,0,0.4);
    width: 125px;
    height: 125px;
    margin: auto;
    margin-top: 10px;
}